body {
  background: #0d1117; /* match the dark background */
  color: white;
  padding-left: 100px;
  padding-right: 150px;
}

.main-panel-container 
{ 
  display: flex;
  justify-content: space-between;
  padding-right: 300px;
}

.location-and-current-weather-container
{
  display: flex;
  flex-direction: column;
  background-color: lightpink;
}

.icon-container 
{
  display: flex;
  align-items: center;
  height: 200px;
  background-color: lightblue;
}

.today-forecasts-container
{
  display: flex;
  justify-content: space-around;
  padding-right: 200px;
}

.sidebar
{
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: lightpink;
}

.five-day-forecast-container
{
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100%;
  top: 0;
  right: 0;
  background-color: lightpink;
}

.five-day-forecast-item
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}