body {
  background: #0d1117;
  color: white;
  font-family: 'Rubik', sans-serif;
  padding-left: 150px;
  padding-right: 150px;
}

.main-panel-container 
{ 
  display: flex;
  width: 100%;
  height: 15rem;
  justify-content: space-between;
  align-items: center;
}

.location-and-current-weather-container
{
  display: flex;
  flex-direction: column;
  background-color: lightpink;
}

.city-container
{
  font-size: 2.5rem;
  font-weight: 500;
}

.country-container
{
  font-size: 1.2rem;
}

.current-weather-container
{
  display: flex;
  font-size: 3rem;
  font-weight: 500;
  padding-top: 2.5rem;
}

.icon 
{
  width: 200px;
  height: 200px;
}

.icon-container 
{
  display: flex;
  margin-right: 20rem;
  align-items: center;
  background-color: lightblue;
}

.today-forecasts-container
{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.sidebar
{
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: lightpink;
}

.five-day-forecast-container
{
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100%;
  top: 0;
  right: 0;
  background-color: lightpink;
}

.five-day-forecast-item
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}